<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Selfie With Fame - Log In</title>
    <link rel="manifest" href="/manifest.json">

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="/stylesheets/clean-blog.min.css" rel="stylesheet">
</head>

<body>
<!-- Navigation -->
<% include templates/navbar.ejs %>

<!-- Page Header -->
<header class="masthead" style="background-image: url('/images/events-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <div class="container">
                        <h2>ERROR: Resource not found!</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<p class="text-center">The user profile or other resource you have attempted to find does not exist. <a href="/">Return to the main page</a>.</p>

<hr>

<!-- Footer -->
<% include templates/footer.ejs %>

<!-- Bootstrap core JavaScript -->
<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/javascripts/clean-blog.min.js"></script>
<script src="/javascripts/app.js"></script>

</body>

</html>
