<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Selfie With Fame - Register</title>
    <link rel="manifest" href="/manifest.json">

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="/stylesheets/clean-blog.min.css" rel="stylesheet">
</head>

<!-- <body onload="initServiceWorker()"> -->

<body>
<!-- Navigation -->
<% include templates/navbar.ejs %>

<!-- Page Header -->
<header class="masthead" style="background-image: url('/images/events-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <div class="container">
                        <h3>User Registration</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<% include ./partials/messages %>

<form action="register" method="POST">
    First name:<br/>
    <input type="text" name="firstname" placeholder="Your name" value="<%= typeof firstname != 'undefined' ? firstname : '' %>"><br>
    Last name:<br/>
    <input type="text" name="lastname" placeholder="Your surname" value="<%= typeof lastname != 'undefined' ? lastname : '' %>"><br>
    Email address:<br/>
    <input type="text" name="email" placeholder="Your email" value="<%= typeof email != 'undefined' ? email : '' %>"><br>
    Username:<br/>
    <input type="text" name="username" placeholder="Your username" value="<%= typeof username != 'undefined' ? username : '' %>"><br>
    Password:<br/>
    <input type="password" name="password" placeholder="Your password">
    <br/>
    Verify password:<br/>
    <input type="password" name="password_verify" placeholder="Your password again">
    <br/>
    <input type="submit"></form>
</form>

<hr>

<!-- Footer -->
<% include templates/footer.ejs %>

<!-- Bootstrap core JavaScript -->
<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/javascripts/clean-blog.min.js"></script>
<script src="/javascripts/app.js"></script>
<script src="/javascripts/idb.js"></script>

<!-- Form script -->
<script src="/javascripts/register.js"></script>

</body>

</html>
